@model List<VOC_MSTViewModel>

    <div class="row">
        <div class="col-sm-12" id="show-hidden-grid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" style="cursor: pointer;">
                    <i class="fa fa-caret-right"></i> <strong>진행중(Voc đang xử lý)</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row hidden-grid" style="display:none">
        <div class="col-md-12">
            <div class="table-responsive" id="gridVocMst">
                <table class="table table-bordered table-hover mb-0 table-striped custom-table datatable" id="vocMstDataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Received site
                            </th>
                            <th>
                                Place of origin<br />
                                (HQ, WTC, WHC)
                            </th>
                            <th>
                                Received dept.<br />
                                (Sales, Quality)
                            </th>
                            <th>
                                Received date<br />(YYYY-MM-DD)
                            </th>
                            <th>
                                SPL Received date<br />(YYYY-MM-DD)
                            </th>
                            <th>
                                SPL Received date<br />(week),ISO8601
                            </th>
                            <th>Customer</th>
                            <th>
                                SET Model(Customer)
                            </th>
                            <th>
                                Process(Customer)
                            </th>
                            <th>Model(Full name)</th>
                            <th>Defect name/<br />Phenomenon(Customer)</th>
                            <th>
                                Defect rate<br />
                                (defect qty./input qty.)
                            </th>
                            <th>
                                Parts classification1<br />
                                (SAW, Module)
                            </th>
                            <th>
                                Parts classification2<br />
                                (Sample, Mass product)
                            </th>
                            <th>Prodution date<br />(Marking)</th>
                            <th>
                                Defect name
                                (Analysis result)
                            </th>
                            <th>
                                VOC Count
                            </th>
                            <th>Defect cause <br />(Root cause)</th>
                            <th>Defect classification<br />(5M+1E)</th>
                            <th>Customer Response</th>
                            <th>8D Report_Final approver</th>
                            <th>8D Report_Sender</th>
                            <th>8D Rport_sent date</th>
                            <th>
                                VOC State<br />
                                (Close, Open)
                            </th>
                            <th>
                                VOC Finishing date
                            </th>
                            <th>
                                VOC TAT
                            </th>
                        </tr>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th></th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th></th>
                            <th></th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th></th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content">
                        @foreach (var voc in Model)
                        {
                            <tr>
                                <td>@voc.Received_site</td>
                                <td>@voc.PlaceOfOrigin</td>
                                <td>@voc.ReceivedDept</td>
                                <td>@voc.ReceivedDate</td>
                                <td>@voc.SPLReceivedDate</td>
                                <td>@voc.SPLReceivedDateWeek</td>
                                <td>@voc.Customer</td>
                                <td>@voc.SETModelCustomer</td>
                                <td>@voc.ProcessCustomer</td>
                                <td>@voc.ModelFullname</td>
                                <td>@voc.DefectNameCus</td>
                                <td>@voc.DefectRate</td>
                                <td>@voc.PartsClassification</td>
                                <td>@voc.PartsClassification2</td>
                                <td>@voc.ProdutionDateMarking</td>
                                <td>@voc.AnalysisResult</td>
                                <td>@voc.VOCCount</td>
                                <td>@voc.DefectCause</td>
                                <td>@voc.DefectClassification</td>
                                <td>@voc.CustomerResponse</td>
                                <td>@voc.Report_FinalApprover</td>
                                <td>@voc.Report_Sender</td>
                                <td>@voc.Rport_sentDate</td>
                                <td>@voc.VOCState</td>
                                <td>@voc.VOCFinishingDate</td>
                                <td>@voc.VOC_TAT</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>