@using Microsoft.AspNetCore.Authorization
@using VOC.Authorization
@inject IAuthorizationService AuthorizationService
@model VOC_CHART
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    var pUpdate = await AuthorizationService.AuthorizeAsync(User, "uVoc", Operations.Export);
}

@section Scripts
{
    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>
    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>*@
    <script>

        var chartdataInit = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.vOCSiteModelByTimeLsts))');
        var chartdataTotalInit = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.totalVOCSitesView))');
        var chartdataByDefectName = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.paretoDataDefectName))');

       var selectCustomer = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.Customer))');

        onSuccess = function () { };

        window.onload = function () {
            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            },false);
        }

        $(document).ready(function () {

            var table = $('#vocMstDataTable').DataTable({
                scrollY: 400,
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                select: true,
                "searching": true,
                //fixedColumns: {
                //    leftColumns: 5
                //},
                initComplete: function () {
                    this.api().columns([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">All</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
                , columnDefs: [{
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-100'>" + data + "</div>";
                    },
                    targets: '_all'
                },
                    {
                        "targets": [2, 4, 5, 7, 8, 13, 17, 18, 19, 20, 21, 22, 25],
                        "visible": false,
                        "searchable": false
                    }],
                "order": [[0, 'asc']]
            });
            table.columns.adjust().draw();
            table.order([1, 'asc']).draw();

            //$('input[type=search]').addClass('floating').removeClass('form-control-sm').css('width', 300).attr('placeholder', 'Type to search');
            //$('select[name="vocMstDataTable_length"]').removeClass('form-control-sm');

            // grid complete
            var tableComplete = $('#vocMstCompleteDataTable').DataTable({
                scrollY: 400,
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                select: true,
                "searching": true,
                //fixedColumns: {
                //    left: 0,
                //    right: 1
                //},
                initComplete: function () {
                    this.api().columns([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">All</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {

                            if (d.includes('Report')) {
                                if (d.startsWith('HQ')) {
                                    select.append('<option value="HQ">HQ</option>');
                                }
                                else if (d.startsWith('WHC')) {
                                    select.append('<option value="WHC">WHC</option>');
                                }
                                else if (d.startsWith('WTC')) {
                                    select.append('<option value="WTC">WTC</option>');
                                }
                            }
                            else {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            }
                        });
                    });
                }
                , columnDefs: [{
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-100'>" + data + "</div>";
                    },
                    targets: '_all'
                }
                ,
                {
                    "targets": [2, 4, 5, 7, 8, 13,17,18,19,20,21,22,25],
                    "visible": false,
                    "searchable": false
                }
                ],
                "order": [[0, 'asc']]
            });
            tableComplete.columns.adjust().draw();
            tableComplete.order([1, 'asc']).draw();

            $('#show-hidden-grid').click(function () {
                $("i", this).toggleClass("fa fa-caret-right fa fa-caret-down");
                $('.hidden-grid').slideToggle("slow");
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
                // Alternative animation for example
                // slideToggle("fast");
            });

            $('#show-hidden-grid-report').click(function () {
                $("i", this).toggleClass("fa fa-caret-right fa fa-caret-down");
                $('.hidden-grid-report').slideToggle("slow");
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });
        });

        $('#txtYear').datetimepicker({
            format: 'YYYY',
            icons:
            {
                up: "fa fa-angle-up",
                down: "fa fa-angle-down",
                next: 'fa fa-angle-right',
                previous: 'fa fa-angle-left'
            }
        });

    </script>
    <script src="~/app/controllers/voc/chart-voc.js"></script>
    <script src="~/app/controllers/voc/apexChart-voc.js"></script>
    <script src="~/app/controllers/voc/chart-voc-Mns.js"></script>
    <script src="~/app/controllers/voc/vocMns.js"></script>
    <script>
        var chartVoc = new chartVoc();
        chartVoc.DrawChart();

        var apexVoc = new apexChartTotalYearController();
        apexVoc.DrawChart();

        var controller = new chartVocMnsController();
        controller.initialize();

        var vocController = new vocController();
        vocController.initialize();
    </script>
}

@section Styles{

    @*<link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css" />*@
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.0.2/css/fixedColumns.dataTables.min.css" />

    <style>

        .text-wrap {
            white-space: normal;
        }

        .width-100 {
            width: 100px;
        }

        .width-30 {
            width: 30px;
        }

        .h-200 {
            height: 200px;
        }

        table.datatable td {
            width: 100px;
            word-break: break-word;
        }

        #btnAddVoc, #btnAddPPM {
            background-color: dodgerblue;
            color: white;
        }

        /*        th:first-child {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            z-index: 2;
        }*/
    </style>
}

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="page-title">Wisol VOC</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
            <div class="card dash-widget">
                <div class="card-body" style="height:48px;text-align:justify">
                    <h4 style="display:inline;float:left">접수 건수</h4><i>(Tiếp nhận)</i>:
                    <h5 id="tagReceiveCount" style="display:inline;float:right">@Model.vocProgessInfo.ReceiveCount</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
            <div class="card dash-widget">
                <div class="card-body" style="height: 48px; text-align: justify">
                    <h4 style="display:inline;float:left">완료</h4><i>(Hoàn thành)</i>:
                    <h5 id="tagCloseCount" style="display:inline;float:right">@Model.vocProgessInfo.CloseCount</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
            <div class="card dash-widget">
                <div class="card-body" style="height: 48px; text-align: justify">
                    <h4 style="display:inline;float:left">진행중</h4><i>(Đang xử lý)</i>:
                    <h5 id="tagProgressCount" style="display:inline;float:right">@Model.vocProgessInfo.ProgressCount</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
            @if (pUpdate.Succeeded)
            {
                <a href="#" id="btnExportData" class="btn"><i class="fa fa-file"></i> Export Excel</a>
            }
        </div>
    </div>

    <form action="/admin/voc/Search" method="post">
        <div class="row filter-row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="card dash-widget">
                    <div class="card-body" style="height: 48px; text-align: justify">
                        <span style="display:inline;float:left">Update day: </span>
                        <span id="tagLastUpdateDay" style="display:inline;float:right">@Model.vocProgessInfo.LastUpdateDay</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <div class="cal-icon"><input id="txtYear" name="year" value="@Model.Year" class="form-control datetimepicker" type="text" required></div>
                    <label class="focus-label">접수 년도/Năm</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <select id="cboCustomer" class="select floating" name="customer">
                    </select>
                    <label class="focus-label">고객/khách hàng</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <select id="cboSide" class="select floating" name="side">
                        <!option value="ALL" @(Model.Side == "ALL" ? "selected" : "")>ALL</!option>
                        <!option value="WHC" @(Model.Side == "WHC" ? "selected" : "")>WHC</!option>
                        <!option value="WTC" @(Model.Side == "WTC" ? "selected" : "")>WTC</!option>
                        <!option value="HQ" @(Model.Side == "HQ" ? "selected" : "")>HQ</!option>
                    </select>
                    <label class="focus-label">생산지/ Nơi sản xuất</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <button id="btnSearch" type="submit" class="btn btn-success btn-block"> Search </button>
            </div>
        </div>
    </form>
    @await Html.PartialAsync("_totalVOCByYearPartialView", Model)
    @await Html.PartialAsync("_vocWorseDefectPartialView", Model.paretoDataDefectName)
    @await Html.PartialAsync("_gridProgressVocPartialView", Model.vocProgessInfo.lstVocProgress)
    @await Html.PartialAsync("_gridCompleteVocPartialView", Model.vocProgessInfo.lstVocComplete)
</div>
<partial name="_importExcelModelView" />
<partial name="_documentPreviewPartialView" />
