@using Microsoft.AspNetCore.Authorization
@using HRMS.Authorization
@inject IAuthorizationService AuthorizationService
@model List<NhanVien_CalamViecViewModel>

@{
    var pCreate = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.Create);
    var pDelete = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.Delete);
    var pUpdate = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.Update);
    var pApprove1 = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.ApproveL1);
    var pApprove2 = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.ApproveL2);
    var pApprove3 = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.ApproveL3);
}

<table class="table table-striped custom-table datatable" id="nvCalamviecDataTable">
    <thead>
        <tr>
            <th><input type="checkbox" name="select_all" value="1" id="nvCalamviecDataTable-select-all"> All</th>
            <th>User Id</th>
            <th>User Name</th>
            <th>Department</th>
            <th>Shift</th>
            <th>From Time</th>
            <th>End Time</th>
            <th class="text-nowrap">Status</th>
            <th class="text-nowrap">Approved</th>
            <th class="text-right no-sort">Action</th>
        </tr>
    </thead>
    <tbody id="tbl-content">
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.MaNV</td>
            <td>@item.HR_NHANVIEN?.TenNV</td>
            <td>@item.HR_NHANVIEN?.MaBoPhan</td>
            <td>@item.DM_CA_LVIEC?.TenCaLamViec</td>
            <td>@item.BatDau_TheoCa</td>
            <td>@item.KetThuc_TheoCa</td>
            <td>
                @if (item.Status == "Active")
                {
                    <span class="badge bg-inverse-success">@item.Status</span>
                }
                else if (item.Status == "New")
                {
                    <span class="badge bg-inverse-primary">@item.Status</span>
                }
                else
                {
                    <span class="badge bg-inverse-dark">@item.Status</span>
                }
            </td>
            <td>
                @if (item.Approved == CommonConstants.Approved)
                {
                    <span class="badge bg-inverse-success">Yes</span>
                }
                else
                {
                    <span class="badge bg-inverse-dark">No</span>
                }
            </td>
            <td class="text-right">
                <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @if (pUpdate.Succeeded)
                        {
                            @if (User.IsInRole("Admin") || User.IsInRole("HR") || item.Approved != CommonConstants.Approved)
                            {
                                <a class="dropdown-item edit-nv-calviec" href="#" data-toggle="modal" data-target="#add_nhanvien_calamviecModel" data-id="@item.Id"><i class="fa fa-edit m-r-5"></i> Edit</a>
                            }
                        }

                        @if (pDelete.Succeeded)
                        {
                            @if (User.IsInRole("Admin") || User.IsInRole("HR") || item.Approved != CommonConstants.Approved)
                            {
                                <a class="dropdown-item delete-nv-calviec" href="#" data-toggle="modal" data-target="#delete_nhanVien_calviec" data-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                            }
                        }

                        @if (pApprove3.Succeeded)
                        {
                            @if (item.Approved != CommonConstants.Approved)
                            {
                                <a class="dropdown-item approve-nv-calviec" href="#" data-toggle="modal" data-target="#approve_nhanVien_calviec" data-id="@item.Id"><i class="fa fa-thumbs-up m-r-5"></i> Approve</a>
                            }
                            else
                            {
                                <a class="dropdown-item unapprove-nv-calviec" href="#" data-toggle="modal" data-target="#unapprove_nhanVien_calviec" data-id="@item.Id"><i class="fa fa-thumbs-down m-r-5"></i> UnApprove</a>
                            }
                        }
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>