@model List<ChamCongLogViewModel>
<table class="table table-striped custom-table datatable" id="chamCongLogDataTable">
    <thead>
        <tr>
            <th><input type="checkbox" name="select_all" value="1" id="chamCongLogDataTable-select-all"> All</th>
            <th>Date</th>
            <th>User Id</th>
            <th>User Name</th>
            <th>Department</th>
            <th>First-In Time</th>
            <th>Last-Out Time</th>
            <th>First-In</th>
            <th>Last-Out</th>
            <th>Shifts</th>
            <th>Result</th>
            <th class="text-nowrap">Status</th>
            <th>Update By</th>
            <th class="text-right no-sort">Action</th>
        </tr>
    </thead>
    <tbody id="tbl-content">
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ngay_ChamCong</td>
            <td>@item.ID_NV</td>
            <td>@item.Ten_NV</td>
            <td>@item.Department</td>

            @if (item.UserModified != "sys")
            {
                <td>
                    <span class="badge badge bg-inverse-warning">@item.FirstIn_Time</span>
                </td>
                <td><span class="badge badge bg-inverse-warning">@item.Last_Out_Time</span></td>
            }
            else
            {
                <td>@item.FirstIn_Time</td>
                <td>@item.Last_Out_Time</td>
            }
            <td>@item.FirstIn</td>
            <td>@item.LastOut</td>
            <td>@item.Shift</td>
            <td>
                @if (item.Result == "NonWorking")
                {
                    <span class="badge bg-inverse-dark">@item.Result</span>
                }
                else if (item.Result == "Miss_In")
                {
                    <span class="badge bg-inverse-warning">@item.Result</span>
                }
                else if (item.Result == "Miss_Out")
                {
                    <span class="badge badge bg-inverse-info">@item.Result</span>
                }
                else
                {
                    <span class="badge bg-inverse-success">@item.Result</span>
                }
            </td>
            <td>
                @if (item.Status == "Normal")
                {
                    <span class="badge bg-inverse-success">@item.Status</span>
                }
                else
                {
                    <span class="badge bg-inverse-danger">@item.Status</span>
                }
            </td>
            @if (item.UserModified != "sys")
            {
                <td>
                    <span class="badge badge bg-inverse-warning">@item.UserModified</span>
                </td>
            }
            else
            {
                <td>-</td>
            }

            <td class="text-right">
                <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item attendance-info" href="#" data-toggle="modal" data-target="#attendance_info" data-id="@item.ID_NV" data-date="@item.Ngay_ChamCong" data-name="@item.Ten_NV" data-timeIn="@item.FirstIn_Time" data-timeOut="@item.Last_Out_Time">
                            <i class="fa fa-expand m-r-5"></i>Detail
                        </a>
                        @if (item.FirstIn_Time == "00:00:00" || item.Last_Out_Time == "00:00:00" || item.UserHandle == "Y")
                        {
                            <a class="dropdown-item edit-chamcong" href="#" data-toggle="modal" data-target="#addEditChamCongModel" data-id="@item.ID_NV" data-date="@item.Ngay_ChamCong" data-name="@item.Ten_NV" data-timeIn="@item.FirstIn_Time" data-timeOut="@item.Last_Out_Time"><i class="fa fa-edit m-r-5"></i> Edit</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>