@model NhanVienProfileModel
    <h3 class="card-title">Personal Informations <a href="#" class="edit-icon" data-toggle="modal" data-target="#personal_info_modal" id="btn-UpdatePersonalInfo"><i class="fa fa-pencil"></i></a></h3>
    <ul class="personal-info">
        <li>
            <div class="title">Nơi Sinh</div>
            <div class="text">@Model.NoiSinh</div>
        </li>
        <li>
            <div class="title">Nguyên Quán</div>
            <div class="text">@Model.NguyenQuan</div>
        </li>
        <li>
            <div class="title">Địa Chỉ Thường Trú</div>
            <div class="text">@Model.DiaChiThuongTru</div>
        </li>
        <li>
            <div class="title">Dân Tộc</div>
            <div class="text">@Model.DanToc</div>
        </li>
        <li>
            <div class="title">Tôn Giáo</div>
            <div class="text">@Model.TonGiao</div>
        </li>
        <li>
            <div class="title">CMTND/CCCD</div>
            <div class="text">@Model.CMTND</div>
        </li>
        <li>
            <div class="title">Ngày cấp CMTND</div>
            <div class="text">@Model.NgayCapCMTND</div>
        </li>
        <li>
            <div class="title">Nơi cấp CMTND</div>
            <div class="text">@Model.NoiCapCMTND</div>
        </li>
        <li>
            <div class="title">Mã Số Thuế</div>
            <div class="text">@Model.MaSoThue</div>
        </li>
        <li>
            <div class="title">Trường Đào Tạo</div>
            <div class="text">@Model.TruongDaoTao</div>
        </li>
    </ul>