@model List<QuaTrinhLamViecViewModel>
@{
    int i = 0;
}
<!-- Row -->
<div class="row">
    <!-- Ribbon -->
    <div class="col-md-12">
        <div class="card">
            <h3 class="card-title" style="margin:20px"><a href="#" class="edit-icon" data-toggle="modal" data-target="#quatrinhCtac_infor_modal" id="btn-UpdateQuatrinhCtac"><i class="fa fa-edit"></i></a></h3>
            <div class="card-body">
                <ul class="timeline">

                    @foreach (QuaTrinhLamViecViewModel item in Model)
                    {
                        if (i++ % 2 == 0)
                        {
                            <li>
                                <div class="timeline-badge success">
                                    <i class="fa fa-angle-double-up"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">@item.TieuDe</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Bắt đầu: @item.ThơiGianBatDau <br />
                                            <i>@item.Note</i>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="timeline-inverted">
                                <div class="timeline-badge info">
                                    <i class="fa fa-angle-double-up"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">@item.TieuDe </h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Bắt đầu: @item.ThơiGianBatDau <br />
                                            <i>@item.Note</i>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- /Ribbon -->

</div>
<!-- /Row -->
