@model VocOnsiteListByWeek
<div class="table-responsive">
    @if (Model.Month > 13) // year
    {
        <table class="table table-bordered datatable" id="@string.Format("vocOnsiteTable_{0}",Model.Month)">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                    <th rowspan="2">Part</th>
                    <th rowspan="2">
                        Measure
                        q'ty
                    </th>
                    <th colspan="2">
                        Analysis Wisol
                    </th>
                    <th rowspan="2">
                        Note
                    </th>
                </tr>
                <tr>
                    <th>
                        OK
                    </th>
                    <th>NG</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    int yearTotalCSP = 0;
                    int yearOKCSP = 0;
                    int yearNGCSP = 0;
                    int yearTotalLFEM = 0;
                    int yearOKLFEM = 0;
                    int yearNGLFEM = 0;

                    int monthLfemTotal = 0;
                    int monthLfemOK = 0;
                    int monthLfemNG = 0;
                    int monthCspTotal = 0;
                    int monthCspOK = 0;
                    int monthCspNG = 0;

                    int month = 0;

                    string[] monthArr = { "-", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
                }
                @foreach (var item in Model.vocOnsiteList.vocOnsiteModels.OrderBy(x => x.Date).ThenBy(x => x.Week).ThenBy(x => x.Part))
                {
                    if (month != item.Month && month > 0)
                    {
                        <tr style="font-weight:bold">
                            <td colspan="5">@monthArr[month]</td>
                            <td>CSP</td>
                            <td>@monthCspTotal</td>
                            <td>@monthCspOK</td>
                            <td>@monthCspNG</td>
                            <td></td>
                        </tr>
                        <tr style="font-weight:bold">
                            <td colspan="5">@monthArr[month]</td>
                            <td>LFEM</td>
                            <td>@monthLfemTotal</td>
                            <td>@monthLfemOK</td>
                            <td>@monthLfemNG</td>
                            <td></td>
                        </tr>

                        monthLfemTotal = 0;
                        monthLfemOK = 0;
                        monthLfemNG = 0;
                        monthCspTotal = 0;
                        monthCspOK = 0;
                        monthCspNG = 0;
                    }

                    if (item.Month == month || month == 0)
                    {
                        if (item.Part == "CSP")
                        {
                            monthCspTotal += item.Qty;
                            monthCspOK += item.OK;
                            monthCspNG += item.NG;
                        }
                        else
                        {
                            monthLfemTotal += item.Qty;
                            monthLfemOK += item.OK;
                            monthLfemNG += item.NG;
                        }
                    }
                    else
                    {
                        if (item.Part == "CSP")
                        {
                            monthCspTotal = item.Qty;
                            monthCspOK = item.OK;
                            monthCspNG = item.NG;

                            monthLfemTotal = 0;
                            monthLfemOK = 0;
                            monthLfemNG = 0;
                        }
                        else
                        {
                            monthCspTotal = 0;
                            monthCspOK = 0;
                            monthCspNG = 0;

                            monthLfemTotal = item.Qty;
                            monthLfemOK = item.OK;
                            monthLfemNG = item.NG;
                        }
                    }

                    @if (i == Model.vocOnsiteList.vocOnsiteModels.Count() - 1)
                    {
                        if (item.Month == Model.vocOnsiteList.vocOnsiteModels.OrderByDescending(x => x.Month).FirstOrDefault().Month)
                        {
                            @foreach (var item1 in Model.vocOnsiteList.vocOnsiteModels)
                            {
                                if (item1.Part == "CSP")
                                {
                                    yearTotalCSP += item1.Qty;
                                    yearOKCSP += item1.OK;
                                    yearNGCSP += item1.NG;
                                }
                                else
                                {
                                    yearTotalLFEM += item1.Qty;
                                    yearOKLFEM += item1.OK;
                                    yearNGLFEM += item1.NG;
                                }
                            }

                            <tr style="font-weight:bold">
                                <td colspan="5">@monthArr[month]</td>
                                <td>CSP</td>
                                <td>@monthCspTotal</td>
                                <td>@monthCspOK</td>
                                <td>@monthCspNG</td>
                                <td></td>
                            </tr>
                            <tr style="font-weight:bold">
                                <td colspan="5">@monthArr[month]</td>
                                <td>LFEM</td>
                                <td>@monthLfemTotal</td>
                                <td>@monthLfemOK</td>
                                <td>@monthLfemNG</td>
                                <td></td>
                            </tr>

                            // year
                            <tr style="font-weight: bold; background-color: #FEF5E7;">
                                <td colspan="5">Total @Model.vocOnsiteList.Year</td>
                                <td>CSP</td>
                                <td>@yearTotalCSP</td>
                                <td>@yearOKCSP</td>
                                <td>@yearNGCSP</td>
                                <td></td>
                            </tr>
                            <tr style="font-weight: bold; background-color: #FEF5E7;">
                                <td colspan="5">Total @Model.vocOnsiteList.Year</td>
                                <td>LFEM</td>
                                <td>@yearTotalLFEM</td>
                                <td>@yearOKLFEM</td>
                                <td>@yearNGLFEM</td>
                                <td></td>
                            </tr>
                        }
                    }

                    month = item.Month;
                    i += 1;
                }

            </tbody>
        </table>
    }
    else if (Model.vocOnsiteList.Customer.Contains("result") || Model.vocOnsiteList.Customer.EndsWith("ALL"))
    {
        <table class="table table-bordered datatable" id="@string.Format("vocOnsiteTable_{0}",Model.Month)">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2">Month</th>
                    <th rowspan="2">Week</th>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Customer</th>
                    <th rowspan="2">Part</th>
                    <th rowspan="2">Quantity</th>
                    <th colspan="7">Analysis results </th>
                </tr>
                <tr>
                    <th>Sample No</th>
                    <th>Wisol Model</th>
                    <th>Customer Code</th>
                    <th>Marking</th>
                    <th>
                        Production date
                        ( marking)
                    </th>
                    <th>Set model</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.WisolModel == "")
                {
                    int number = 0;
                    string wisolModel = "";

                    string week = "";
                    int month = 0;
                    int i = 0;
                    int monthLfemTotal = 0;
                    int monthLfemOK = 0;
                    int monthLfemNG = 0;
                    int monthCspTotal = 0;
                    int monthCspOK = 0;
                    int monthCspNG = 0;
                    string[] monthArr = { "-", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };

                    @foreach (var onsite in Model.vocOnsiteList.vocOnsiteModels.Where(x => x.Month == Model.Month).OrderBy(x => x.Date).ThenBy(x => x.Week).ThenBy(x => x.Part))
                    {
                        @if (Model.vocOnsiteList.Customer.EndsWith("ALL"))
                        {
                            if (week != onsite.Week && week != "")
                            {
                                @foreach (var sum in Model.vocOnsiteList.vocOnsiteSumWeeks.Where(x => x.Month == Model.Month))
                                {
                                    if (sum.Time == week)
                                    {
                                        <tr style="font-weight: bold; ">
                                            <td colspan="4">@week</td>
                                            <td>@sum.Part</td>
                                            <td>@sum.QTY</td>
                                            <td><span style="font-weight:normal">OK: @sum.OK</span></td>
                                            <td><span style="font-weight:normal">NG: @sum.NG</span></td>
                                            <td><span style="font-weight:normal">No: @(sum.QTY - sum.NG - sum.OK)</span></td>
                                        </tr>
                                    }
                                }
                            }

                            if (onsite.Month == month || month == 0)
                            {
                                if (onsite.Part == "CSP")
                                {
                                    monthCspTotal += onsite.Qty;
                                    monthCspOK += onsite.OK;
                                    monthCspNG += onsite.NG;
                                }
                                else
                                {
                                    monthLfemTotal += onsite.Qty;
                                    monthLfemOK += onsite.OK;
                                    monthLfemNG += onsite.NG;
                                }
                            }
                            else
                            {
                                if (onsite.Part == "CSP")
                                {
                                    monthCspTotal = onsite.Qty;
                                    monthCspOK = onsite.OK;
                                    monthCspNG = onsite.NG;

                                    monthLfemTotal = 0;
                                    monthLfemOK = 0;
                                    monthLfemNG = 0;
                                }
                                else
                                {
                                    monthCspTotal = 0;
                                    monthCspOK = 0;
                                    monthCspNG = 0;

                                    monthLfemTotal = onsite.Qty;
                                    monthLfemOK = onsite.OK;
                                    monthLfemNG = onsite.NG;
                                }
                            }
                        }

                        number = 0;

                        @foreach (var item in onsite.lstVocOnsite.Where(x => x.Month == Model.Month))
                        {
                            if (wisolModel == item.Wisol_Model)
                            {
                                number += 1;
                            }
                            else
                            {
                                number = 1;
                            }

                            wisolModel = item.Wisol_Model;

                            <tr>
                                <td>@onsite.Month</td>
                                <td>@onsite.Week</td>
                                <td>@onsite.Date</td>
                                <td>@onsite.Customer</td>
                                <td>@onsite.Part</td>
                                <td>@onsite.Qty</td>
                                <th>#@number</th>
                                <td>@item.Wisol_Model</td>
                                <td>@item.Customer_Code</td>
                                <td>@item.Marking</td>
                                <td>@item.ProductionDate</td>
                                <td>@item.SetModel</td>

                                @if (item.Result != "OK" && item.Result != "NG")
                                {
                                    <td style="color:red">@item.Note</td>
                                }
                                else if (item.Result == "NG")
                                {
                                    <td style="color:red">@item.Note</td>
                                }
                                else
                                {
                                    <td>@item.Result</td>
                                }
                            </tr>
                        }

                        if (Model.vocOnsiteList.Customer.EndsWith("ALL"))
                        {
                            @if (i == Model.vocOnsiteList.vocOnsiteModels.Where(x => x.Month == Model.Month).Count() - 1)
                            {
                                @if (onsite.Week != "")
                                {
                                    @foreach (var sum in Model.vocOnsiteList.vocOnsiteSumWeeks)
                                    {
                                        if (sum.Time == onsite.Week)
                                        {
                                            <tr style="font-weight: bold ">
                                                <td colspan="4">@onsite.Week</td>
                                                <td>@sum.Part</td>
                                                <td>@sum.QTY</td>
                                                <td><span style="font-weight:normal">OK: @sum.OK</span></td>
                                                <td><span style="font-weight:normal">NG: @sum.NG</span></td>
                                                <td><span style="font-weight:normal">No: @(sum.QTY - sum.NG - sum.OK)</span></td>
                                            </tr>
                                        }
                                    }

                                    if (onsite.Month > 0)
                                    {
                                        <tr style="font-weight: bold; background-color: #FEF5E7;">
                                            <td colspan="4">@monthArr[onsite.Month]</td>
                                            <td>CSP</td>
                                            <td>@monthCspTotal</td>
                                            <td><span style="font-weight:normal">OK: @monthCspOK</span></td>
                                            <td><span style="font-weight:normal">NG: @monthCspNG</span></td>
                                            <td><span style="font-weight:normal">No: @(monthCspTotal - monthCspOK - monthCspNG)</span></td>
                                            <td colspan="4"></td>
                                        </tr>
                                        <tr style="font-weight: bold; background-color: #FEF5E7;">
                                            <td colspan="4">@monthArr[onsite.Month]</td>
                                            <td>LFEM</td>
                                            <td>@monthLfemTotal</td>
                                            <td><span style="font-weight:normal">OK: @monthLfemOK</span></td>
                                            <td><span style="font-weight:normal">NG: @monthLfemNG</span></td>
                                            <td><span style="font-weight:normal">No: @(monthLfemTotal - monthLfemOK - monthLfemNG)</span></td>
                                            <td colspan="4"></td>
                                        </tr>
                                        <tr style="font-weight: bold; background-color: #FEF5E7;">
                                            <td colspan="4">Total</td>
                                            <td></td>
                                            <td>@(monthLfemTotal + monthCspTotal)</td>
                                            <td><span style="font-weight:normal">OK: @(monthLfemOK + monthCspOK)</span></td>
                                            <td><span style="font-weight:normal">NG: @(monthLfemNG + monthCspNG)</span></td>
                                            <td><span style="font-weight:normal">No: @(monthLfemTotal + monthCspTotal - (monthLfemOK + monthCspOK) - (monthLfemNG + monthCspNG))</span></td>
                                            <td colspan="4"></td>
                                        </tr>
                                    }
                                }
                            }
                        }

                        month = onsite.Month;
                        week = onsite.Week;
                        i += 1;
                    }
                }
                else
                {
                    int number = 0;
                    string wisolModel = "";

                    @foreach (var onsite in Model.vocOnsiteList.vocOnsiteModels.OrderBy(x => x.Date).ThenBy(x => x.Week).ThenBy(x => x.Part))
                    {
                        number = 0;

                        @foreach (var item in onsite.lstVocOnsite.Where(x => x.Wisol_Model == Model.WisolModel))
                        {
                            if (wisolModel == item.Wisol_Model)
                            {
                                number += 1;
                            }
                            else
                            {
                                number = 1;
                            }

                            wisolModel = item.Wisol_Model;

                            <tr>
                                <td>@onsite.Month</td>
                                <td>@onsite.Week</td>
                                <td>@onsite.Date</td>
                                <td>@onsite.Customer</td>
                                <td>@onsite.Part</td>
                                <td>@onsite.Qty</td>
                                <th>#@number</th>
                                <td>@item.Wisol_Model</td>
                                <td>@item.Customer_Code</td>
                                <td>@item.Marking</td>
                                <td>@item.ProductionDate</td>
                                <td>@item.SetModel</td>

                                @if (item.Result != "OK" && item.Result != "NG")
                                {
                                    <td style="color:red">@item.Note</td>
                                }
                                else if (item.Result == "NG")
                                {
                                    <td style="color:red">@item.Note</td>
                                }
                                else
                                {
                                    <td>@item.Result</td>
                                }
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    }
    else
    {
        <table class="table table-bordered datatable" id="@string.Format("vocOnsiteTable_{0}",Model.Month)">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Week</th>
                    <th rowspan="2">Month</th>
                    <th rowspan="2">Part</th>
                    <th rowspan="2">Code</th>
                    <th rowspan="2">Model</th>
                    <th rowspan="2">
                        Measure
                        q'ty
                    </th>
                    <th colspan="2">
                        Analysis Wisol
                    </th>
                    <th rowspan="2">
                        Note
                    </th>
                </tr>
                <tr>
                    <th>
                        OK
                    </th>
                    <th>NG</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string week = "";
                    int month = 0;
                    int i = 0;
                    int monthLfemTotal = 0;
                    int monthLfemOK = 0;
                    int monthLfemNG = 0;
                    int monthCspTotal = 0;
                    int monthCspOK = 0;
                    int monthCspNG = 0;
                    int yearTotalCSP = 0;
                    int yearOKCSP = 0;
                    int yearNGCSP = 0;
                    int yearTotalLFEM = 0;
                    int yearOKLFEM = 0;
                    int yearNGLFEM = 0;

                    string[] monthArr = { "-", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
                }
                @foreach (var item in Model.vocOnsiteList.vocOnsiteModels.Where(x => x.Month == Model.Month).OrderBy(x => x.Date).ThenBy(x => x.Week).ThenBy(x => x.Part))
                {
                    @if (week != item.Week && week != "")
                    {
                        @foreach (var sum in Model.vocOnsiteList.vocOnsiteSumWeeks.Where(x => x.Month == Model.Month))
                        {
                            if (sum.Time == week)
                            {
                                <tr style="font-weight: bold; ">
                                    <td colspan="5">@week</td>
                                    <td>@sum.Part</td>
                                    <td>@sum.QTY</td>
                                    <td>@sum.OK</td>
                                    <td>@sum.NG</td>
                                    <td></td>
                                </tr>
                            }
                        }
                    }

                    <tr>
                        <td>
                            @item.Date
                        </td>
                        <td>@item.Week</td>
                        <td>@item.Month</td>
                        <td>@item.Part</td>
                        <td>@item.Customer_Code</td>
                        <td>@item.Wisol_Model</td>
                        <td>@item.Qty</td>
                        <td>@item.OK</td>
                        <td>@item.NG</td>
                        <td></td>
                    </tr>

                    if (item.Month == month || month == 0)
                    {
                        if (item.Part == "CSP")
                        {
                            monthCspTotal += item.Qty;
                            monthCspOK += item.OK;
                            monthCspNG += item.NG;
                        }
                        else
                        {
                            monthLfemTotal += item.Qty;
                            monthLfemOK += item.OK;
                            monthLfemNG += item.NG;
                        }
                    }
                    else
                    {
                        if (item.Part == "CSP")
                        {
                            monthCspTotal = item.Qty;
                            monthCspOK = item.OK;
                            monthCspNG = item.NG;

                            monthLfemTotal = 0;
                            monthLfemOK = 0;
                            monthLfemNG = 0;
                        }
                        else
                        {
                            monthCspTotal = 0;
                            monthCspOK = 0;
                            monthCspNG = 0;

                            monthLfemTotal = item.Qty;
                            monthLfemOK = item.OK;
                            monthLfemNG = item.NG;
                        }
                    }

                    //if (item.Part == "CSP")
                    //{
                    //    yearTotalCSP += item.Qty;
                    //    yearOKCSP += item.OK;
                    //    yearNGCSP += item.NG;
                    //}
                    //else
                    //{
                    //    yearTotalLFEM += item.Qty;
                    //    yearOKLFEM += item.OK;
                    //    yearNGLFEM += item.NG;
                    //}

                    @if (i == Model.vocOnsiteList.vocOnsiteModels.Where(x => x.Month == Model.Month).Count() - 1)
                    {
                        @if (item.Week != "")
                        {
                            @foreach (var sum in Model.vocOnsiteList.vocOnsiteSumWeeks)
                            {
                                if (sum.Time == item.Week)
                                {
                                    <tr style="font-weight: bold ">
                                        <td colspan="5">@item.Week</td>
                                        <td>@sum.Part</td>
                                        <td>@sum.QTY</td>
                                        <td>@sum.OK</td>
                                        <td>@sum.NG</td>
                                        <td></td>
                                    </tr>
                                }
                            }

                            if (item.Month > 0)
                            {
                                <tr style="font-weight: bold; background-color: #FEF5E7;">
                                    <td colspan="5">@monthArr[item.Month]</td>
                                    <td>CSP</td>
                                    <td>@monthCspTotal</td>
                                    <td>@monthCspOK</td>
                                    <td>@monthCspNG</td>
                                    <td></td>
                                </tr>
                                <tr style="font-weight: bold; background-color: #FEF5E7;">
                                    <td colspan="5">@monthArr[item.Month]</td>
                                    <td>LFEM</td>
                                    <td>@monthLfemTotal</td>
                                    <td>@monthLfemOK</td>
                                    <td>@monthLfemNG</td>
                                    <td></td>
                                </tr>
                            }

                            @*if (item.Month == Model.vocOnsiteList.vocOnsiteModels.OrderByDescending(x => x.Month).FirstOrDefault().Month)
                                {
                                    @foreach (var item1 in Model.vocOnsiteList.vocOnsiteModels)
                                    {
                                        if (item1.Part == "CSP")
                                        {
                                            yearTotalCSP += item1.Qty;
                                            yearOKCSP += item1.OK;
                                            yearNGCSP += item1.NG;
                                        }
                                        else
                                        {
                                            yearTotalLFEM += item1.Qty;
                                            yearOKLFEM += item1.OK;
                                            yearNGLFEM += item1.NG;
                                        }
                                    }

                                    // year
                                    <tr style="font-weight: bold; background-color: #FEF5E7;">
                                        <td colspan="5">Total @Model.vocOnsiteList.Year</td>
                                        <td>CSP</td>
                                        <td>@yearTotalCSP</td>
                                        <td>@yearOKCSP</td>
                                        <td>@yearNGCSP</td>
                                        <td></td>
                                    </tr>
                                    <tr style="font-weight: bold; background-color: #FEF5E7;">
                                        <td colspan="5">Total @Model.vocOnsiteList.Year</td>
                                        <td>LFEM</td>
                                        <td>@yearTotalLFEM</td>
                                        <td>@yearOKLFEM</td>
                                        <td>@yearNGLFEM</td>
                                        <td></td>
                                    </tr>
                                }*@
                        }
                    }

                    month = item.Month;
                    week = item.Week;
                    i += 1;
                }

            </tbody>
        </table>
    }
</div>