@using Microsoft.AspNetCore.Authorization
@using VOC.Authorization
@inject IAuthorizationService AuthorizationService
@model VocOnsiteList
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    var pUpdate = await AuthorizationService.AuthorizeAsync(User, "uOnsite", Operations.Export);
}
@section Scripts
{
    <script src="~/js/jquery.table.marge.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        var model = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.vocOnsiteModels))');
        var wisolmodel = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.WisolModel))');
        onSuccess = function () { };

        $('#txtYear').datetimepicker({
            format: 'YYYY',//YYYY-MM-DD,
            icons:
            {
                up: "fa fa-angle-up",
                down: "fa fa-angle-down",
                next: 'fa fa-angle-right',
                previous: 'fa fa-angle-left'
            }
        });

        Register();
        GetModel();

        function Register() {
            const d = new Date();
            let month = d.getMonth() + 1;

            $('#m_1').removeClass('active');
            $('#m_2').removeClass('active');
            $('#m_3').removeClass('active');
            $('#m_4').removeClass('active');
            $('#m_5').removeClass('active');
            $('#m_6').removeClass('active');
            $('#m_7').removeClass('active');
            $('#m_8').removeClass('active');
            $('#m_9').removeClass('active');
            $('#m_10').removeClass('active');
            $('#m_11').removeClass('active');
            $('#m_12').removeClass('active');

            for (let i = 1; i <= 12; i++) {
                if (month == i) {
                    //$('#m_' + i).addClass('active');
                    $('#m_' + i).click();
                    break;
                }
            }

            // merge cell
            for (let m = 1; m <= 12; m++) {

                if (model.filter(x => x.Month == m).length > 0) {
                    if ($('#cboCustomer').val().includes('result')) {
                        $('#vocOnsiteTable_' + m).margetable({
                            type: 2,
                            colindex: [0, 1, 2, 3, 4, 5, 6, 7, 10, 11]// column 1, 2
                        });
                    }
                    else {
                        console.log($('#vocOnsiteTable_' + m));
                        $('#vocOnsiteTable_' + m).margetable({
                            type: 2,
                            colindex: [0, 1, 2, 3, 4, 5]// column 1, 2
                        });
                    }
                }
            }

            if (!$('#cboCustomer').val().includes('result')) {
                $('#vocOnsiteTable_' + $('#txtYear').val()).margetable({
                    type: 2,
                    colindex: [0, 1, 2, 3, 4, 5]// column 1, 2
                });
            }

            // merge table search
            for (let onsite of model) {
                if (onsite.lstVocOnsite.filter(x => x.Wisol_Model == wisolmodel).length > 0) {
                    $('#vocOnsiteTable_13').margetable({
                        type: 2,
                        colindex: [0, 1, 2, 3, 4, 5, 6, 7, 10, 11]// column 1, 2
                    });
                    break;
                }
            }

            // export excel
            $('#btnExportData').on('click', function () {

                var year = $('#txtYear').val();

                if (!year) {
                    year = new Date().getFullYear();
                }

                $.ajax({
                    type: "POST",
                    url: "/Admin/Onsite/ExportExcel",
                    data: {
                        year: year
                    },
                    success: function (response) {
                        window.location.href = response;
                    },
                    error: function (status) {
                        hrms.notify(status.responseText, 'error', 'alert', function () { });
                    }
                });
            });

            $('#cboCustomer').on('change', function () {
                if ($('#cboCustomer').val().includes('result')) {
                    $('#cboModel').prop('disabled', false);
                }
                else {
                    $('#cboModel').prop('disabled', true);
                    $('#cboModel').val('');
                    $('#cboModel').trigger('change');
                }
            });
        }

        function GetModel() {

            if ($('#cboCustomer').val().includes('result')) {
                $('#cboModel').prop('disabled', false);
            }
            else
            {
                $('#cboModel').prop('disabled', true);
                $('#cboModel').val('');
                $('#cboModel').trigger('change');
            }

            $.ajax({
                url: '/Admin/onsite/GetModel',
                type: 'GET',
                success: function (response) {
                    var render = "<option value=''>ALL</option>";
                    $.each(response, function (i, item) {
                        render += "<option value='" + item.trim() + "'>" + item + "</option >"
                    });
                    $('#cboModel').html(render);
                    $('#cboModel').val(wisolmodel);
                    $('#cboModel').trigger('change');
                    $('#cboModel').select2();

                    if (wisolmodel != '') {
                        $('#m_0').click();
                    }
                },
                error: function (status) {
                    hrms.notify(status.responseText, 'error', 'alert', function () { });
                }
            });
        }

    </script>
}

@section Styles{
    <style>
        table tr th {
            text-align: center;
            vertical-align: middle;
        }

        table tr td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
}
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @if (pUpdate.Succeeded)
            {
                <a href="#" style="float:right" id="btnExportData" class="btn"><i class="fa fa-file"></i> Export Excel</a><br />
            }
        </div>
    </div>

    <form action="/admin/onsite/Search" method="post">
        <div class="row filter-row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2"></div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <div class="cal-icon"><input id="txtYear" name="year" value="@Model.Year" class="form-control datetimepicker" type="text"></div>
                    <label class="focus-label">접수 년도/Năm</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <select id="cboCustomer" class="select floating" name="customer">
                        <!option value="SEV" @(Model.Customer == "SEV" ? "selected" : "")>SEV</!option>
                        <!option value="SEVT" @(Model.Customer == "SEVT" ? "selected" : "")>SEVT</!option>
                        <!option value="SEV-result" @(Model.Customer == "SEV-result" ? "selected" : "")>SEV-세부 results</!option>
                        <!option value="SEVT-result" @(Model.Customer == "SEVT-result" ? "selected" : "")>SEVT-세부 results</!option>
                    </select>
                    <label class="focus-label">Customer</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <select id="cboPart" class="select floating" name="part">
                        <!option value="ALL" @(Model.Part == "ALL" ? "selected" : "")>ALL</!option>
                        <!option value="CSP" @(Model.Part == "CSP" ? "selected" : "")>CSP</!option>
                        <!option value="LFEM" @(Model.Part == "LFEM" ? "selected" : "")>LFEM</!option>
                    </select>
                    <label class="focus-label">Part</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <div class="form-group form-focus select-focus">
                    <select class="js-example-basic-single select2" id="cboModel" name="wisolModel">
                    </select>
                    <label class="focus-label">Model</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                <button id="btnSearch" type="submit" class="btn btn-success btn-block"> Search </button>
            </div>
        </div>
    </form>

    <div class="row area-all">
        <div class="col-md-12 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">

                    @if (!Model.Customer.Contains("result"))
                    {
                        <h3 class="card-title mb-0">
                            @Model.Customer 에서 시료 분석 결과
                        </h3>
                    }
                    else if (Model.Customer == "SEV-result")
                    {<h3 class="card-title mb-0">
                            SEV - 세부 results
                        </h3>
                    }
                    else if (Model.Customer == "SEVT-result")
                    {
                        <h3 class="card-title mb-0">
                            SEVT - 세부 results
                        </h3>
                    }
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-solid">
                        @if (Model.WisolModel != "")
                        {
                            <li class="nav-item"><a id="m_0" class="nav-link" href="#Wsearch" data-toggle="tab">Result</a></li>
                        }
                        <li class="nav-item"><a id="m_1" class="nav-link" href="#W00-00" data-toggle="tab" style="font-weight: bold;">@Model.Year</a></li>
                        <li class="nav-item"><a id="m_1" class="nav-link" href="#W01-04" data-toggle="tab">January</a></li>
                        <li class="nav-item"><a id="m_2" class="nav-link" href="#W05-08" data-toggle="tab">February</a></li>
                        <li class="nav-item"><a id="m_3" class="nav-link" href="#W09-12" data-toggle="tab">March</a></li>
                        <li class="nav-item"><a id="m_4" class="nav-link" href="#W13-16" data-toggle="tab">April</a></li>
                        <li class="nav-item"><a id="m_5" class="nav-link" href="#W17-20" data-toggle="tab">May</a></li>
                        <li class="nav-item"><a id="m_6" class="nav-link" href="#W21-24" data-toggle="tab">June</a></li>
                        <li class="nav-item"><a id="m_7" class="nav-link" href="#W25-28" data-toggle="tab">July</a></li>
                        <li class="nav-item"><a id="m_8" class="nav-link" href="#W29-32" data-toggle="tab">August</a></li>
                        <li class="nav-item"><a id="m_9" class="nav-link" href="#W33-36" data-toggle="tab">September</a></li>
                        <li class="nav-item"><a id="m_10" class="nav-link" href="#W37-40" data-toggle="tab">October</a></li>
                        <li class="nav-item"><a id="m_11" class="nav-link" href="#W41-44" data-toggle="tab">November</a></li>
                        <li class="nav-item"><a id="m_12" class="nav-link" href="#W45-48" data-toggle="tab">December</a></li>
                    </ul>
                    <div class="tab-content" style="padding-top:0px!important">
                        @if (Model.WisolModel != "")
                        {
                            <div class="tab-pane" id="Wsearch">
                                @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 13, Model.WisolModel))
                            </div>
                        }
                        <div class="tab-pane" id="W00-00">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, Model.Year))
                        </div>
                        <div class="tab-pane" id="W01-04">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 1))
                        </div>
                        <div class="tab-pane" id="W05-08">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 2))
                        </div>
                        <div class="tab-pane" id="W09-12">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 3))
                        </div>
                        <div class="tab-pane" id="W13-16">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 4))
                        </div>
                        <div class="tab-pane" id="W17-20">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 5))
                        </div>
                        <div class="tab-pane" id="W21-24">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 6))
                        </div>
                        <div class="tab-pane" id="W25-28">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 7))
                        </div>
                        <div class="tab-pane" id="W29-32">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 8))
                        </div>
                        <div class="tab-pane" id="W33-36">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 9))
                        </div>
                        <div class="tab-pane" id="W37-40">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 10))
                        </div>
                        <div class="tab-pane" id="W41-44">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 11))
                        </div>
                        <div class="tab-pane" id="W45-48">
                            @await Html.PartialAsync("_gridOnsiteByWeekView", new VocOnsiteListByWeek(Model, 12))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

