@model PPMDataChartAll
<div class="row">
    <div class="col-sm-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active"><i class="fa fa-caret-right"></i> <strong>고객(사) GMES 불량율 Data Trend 관리(CSP + LFEM)</strong></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 d-flex">
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h3 class="card-title mb-0">
                    K1 고객 불량 (월별 목표 대비 실적)
                </h3>
                <i>※ Unit [PPM]</i>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-0 table-striped custom-table datatable" id="gmesPPMTable">
                        <thead>
                            <tr>
                                <th rowspan="2" colspan="2">구 분</th>
                                <th rowspan="2">@string.Format("{0}년", (Model.Year - 3).ToString().Substring(2))</th>
                                <th rowspan="2">@string.Format("{0}년", (Model.Year - 2).ToString().Substring(2))</th>
                                <th rowspan="2">@string.Format("{0}년", (Model.Year - 1).ToString().Substring(2))</th>
                                <th rowspan="2">@string.Format("{0}년", Model.Year.ToString().Substring(2))</th>

                                <th colspan="12" style="text-align:center">@string.Format("{0}년", Model.Year.ToString().Substring(2))</th>
                            </tr>
                            <tr>
                                @for (int i = 1; i <= 12; i++)
                                {
                                @if (DateTime.Now.Month == i)
                                    {
                                <th style="background-color: #FCF3CF;color:red">@string.Format("{0}월", i)</th>
                                    }
                                    else
                                    {
                                <th>@string.Format("{0}월", i)</th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.dataChartsAll)
                            {
                            <tr>
                                <td rowspan="2">@item.Module</td>
                                <td style="color: Highlight">목표(target)</td>
                                @foreach (var target in item.dataTargetAll)
                                    {
                                <td style="color: Highlight">@target</td>
                                    }
                            </tr>
                            <tr>
                                <td style="color:red">실적</td>
                                @foreach (var ppm in item.lstData)
                                    {
                                <td style="color:red">@ppm</td>
                                    }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <canvas id="chartLine_All" style="height:220px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model.dataChartsItem)
    {
    <div class="col-md-6">
        @foreach (var sub in item)
            {
        <div class="card">
            <div class="card-body">
                <div>
                    <canvas id="@string.Format("chartLine_{0}{1}",sub.Customer,sub.Module)" style="height:200px"></canvas>
                </div>
            </div>
        </div>
            }
    </div>
    }
</div>
