@using OPERATION_MNS.Data.EF.Extensions
@model List<GocPlanViewModelEx>
@{
    List<string> daysSearch = ViewBag.daysSearchFAB;
}

<table class="table table-bordered mb-0 custom-table datatable" id="FABPlanDataTable">
    <thead>
        <tr style="background-color: #004e89; color: #fff; text-align: center">
            <th colspan="5">@(Model.FirstOrDefault()?.Unit == "CHIP" ? "Chip (Kea)" : "Wafer(sh)") </th>
            @{
                @foreach (var item in daysSearch)
                {
                    if (DateTime.TryParse(item, out DateTime _dateCheck))
                    {
                        var dayOfWeek = _dateCheck.DayOfWeek.ToString().Substring(0, 3);

                        if (dayOfWeek == "Sun")
                        {
                            <th class="text-danger">
                                @dayOfWeek
                            </th>
                        }
                        else
                        {
                            <th>
                                @dayOfWeek
                            </th>
                        }
                    }
                    else
                    {
                        <th>
                        </th>
                    }
                }
            }
        </tr>
        <tr style="background-color: #1a659e;color:#fff">
            <th>Module</th>
            <th>Model</th>
            <th>구분</th>
            <th>Standard Q.ty</th>
            <th>Total</th>
            @{
                @foreach (var item in daysSearch)
                {
                    if (DateTime.TryParse(item, out DateTime _dateCheck))
                    {
                        <th>@_dateCheck.Day</th>
                    }
                    else
                    {
                        <th>@item</th>
                    }
                }
            }
        </tr>

    </thead>
    <tbody id="tbl-content">
        @{
            int k = 0;
        }

        @foreach (var item in Model)
        {
            string style1 = k++ % 2 == 0 ? "background-color: #F2F3F4" : "background-color: #F8F9F9";

            <tr>
                <td style="@style1">@item.Module</td>
                <td style="@style1">@item.Model</td>
                <td style="@style1">@item.Division</td>
                <td style="@style1">@item.StandardQtyForMonth</td>
                <td style="@style1">
                    <table class="table table-bordered mb-0 custom-table">
                        <tr>
                            <td>@item.Total_Plan.ToString("N0")</td>
                        </tr>
                        <tr>
                            <td>@item.Total_Actual.ToString("N0")</td>
                        </tr>
                        <tr>
                            <td>@item.Total_Gap.ToString("N0")</td>
                        </tr>
                    </table>
                </td>

                @foreach (var day in daysSearch)
                {
                    if (item.QuantityByDays.Count > 0)
                    {
                        foreach (var qty in item.QuantityByDays)
                        {
                            if (item.QuantityByDays.Any(x => x.DatePlan == day))
                            {
                                if (qty.DatePlan == day)
                                {
                                    <td>
                                        <table class="table mb-0 custom-table">
                                            <tr>
                                                <td style="color: black">@qty.QuantityPlan.ViewChipWf(Model.FirstOrDefault()?.Unit).ToString("N0")</td>
                                            </tr>
                                            <tr>
                                                <td style="color: green">@qty.QuantityActual.ViewChipWf(Model.FirstOrDefault()?.Unit).ToString("N0")</td>
                                            </tr>
                                            <tr>
                                                <td style="color: blue">@qty.QuantityGap.ViewChipWf(Model.FirstOrDefault()?.Unit).ToString("N0")</td>
                                            </tr>
                                        </table>
                                    </td>
                                }
                            }
                            else
                            {
                                <td>
                                    <table class="table mb-0 custom-table">
                                        <tr>
                                            <td style="color: black">-</td>
                                        </tr>
                                        <tr>
                                            <td style="color: green">-</td>
                                        </tr>
                                        <tr>
                                            <td style="color: blue">-</td>
                                        </tr>
                                    </table>
                                </td>
                                break;
                            }
                        }
                    }
                    else
                    {
                        <td>
                            <table class="table mb-0 custom-table">
                                <tr>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                </tr>
                            </table>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>