@model List<AttendanceRecordViewModel>
<table class="table table-bordered mb-0 custom-table datatable" id="bangCongDataTable">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Join Date</th>
            <th>Section</th>
            <th>Status</th>
            @{

                @for (int i = 1; i <= 31; i++)
                {

                    if (DateTime.TryParse(Model.FirstOrDefault()?.Time_Check, out DateTime _dateCheck))
                    {
                        var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                        if (i < 10)
                        {
                            <th>@i</th>
                        }
                        else
                        {
                            if (i <= lastDayOfMonth.Day)
                            {
                                <th>@i</th>
                            }
                        }

                    }
                }
            }
            <th class="text-right no-sort">Action</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            @{
                @for (int i = 1; i <= 31; i++)
                {
                    if (DateTime.TryParse(Model.FirstOrDefault()?.Time_Check, out DateTime _dateCheck))
                    {
                        var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                        if (i <= lastDayOfMonth.Day)
                        {
                            var dayOfWeek = (new DateTime(_dateCheck.Year, _dateCheck.Month, i)).DayOfWeek.ToString().Substring(0, 3);

                            if (dayOfWeek == "Sun")
                            {
                                <th class="text-danger">
                                    @dayOfWeek
                                </th>
                            }
                            else
                            {
                                <th>
                                    @dayOfWeek
                                </th>
                            }

                        }
                    }
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody id="tbl-content">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaNV</td>
                <td>@item.HR_NHANVIEN?.TenNV</td>
                <td>@item.HR_NHANVIEN?.NgayVao</td>
                <td>@item.HR_NHANVIEN?.HR_BO_PHAN_DETAIL.TenBoPhanChiTiet</td>
                <td>
                    <table class="table table-bordered mb-0 custom-table" style="background-color:#fff">
                        <tr>
                            <td>Working Status</td>
                        </tr>
                        <tr>
                            <td>
                                OT
                                (hour)
                            </td>
                            <td>150%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>200%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>210%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>270%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>300%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>390%</td>
                        </tr>
                        <tr>
                            <td>EL/LC (hour)</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                @for (int i = 1; i <= 31; i++)
                {
                    <td>
                        <table class="table table-bordered mb-0 custom-table">
                            @for (int j = 1; j < 9; j++)
                            {
                                if (j == 1)
                                {
                                    <tr class="table-primary">
                                        <td>@j</td>
                                    </tr>
                                }
                                else if (j < 8)
                                {
                                    <tr style="background-color: #f6f6f6">
                                        <td>@j</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="table-warning">
                                        <td>@j</td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                }
                <td class="text-right">
                    <div class="dropdown dropdown-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item edit-ChamCongDB" href="#" data-toggle="modal" data-target="#addEditChamCongDacBietModel" data-id="@item.Id"><i class="fa fa-edit m-r-5"></i> Edit</a>
                            <a class="dropdown-item delete-ChamCongDB" href="#" data-toggle="modal" data-target="#delete_chamcongDB" data-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>