@model List<ChamCongDataViewModel>
@{
    int dayInMonths = ViewBag.DayOfMonths;
}

@if (Model.FirstOrDefault()?.BoPhan == "KOREA")
{
    <table class="table table-bordered mb-0 custom-table datatable" id="bangCongDataTable">
        <thead>
            <tr style="background-color: #d96d1045">
                <th></th>
                <th></th>
                <th></th>
                @{
                    @for (int i = 1; i <= dayInMonths; i++)
                    {
                        if (DateTime.TryParse(Model.FirstOrDefault()?.month_Check, out DateTime _dateCheck))
                        {
                            var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                            var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                            if (i <= lastDayOfMonth.Day)
                            {
                                var dayOfWeek = (new DateTime(_dateCheck.Year, _dateCheck.Month, i)).DayOfWeek.ToString().Substring(0, 3);

                                if (dayOfWeek == "Sun")
                                {
                                    <th class="text-danger text-justify" colspan="3">
                                        @dayOfWeek
                                    </th>
                                }
                                else
                                {
                                    <th class="text-justify" colspan="3">
                                        @dayOfWeek
                                    </th>
                                }

                            }
                        }
                        else
                        {
                            <th colspan="3">
                            </th>
                        }
                    }
                }
            </tr>
            <tr style="background-color:#F6DDCC">
                <th></th>
                <th></th>
                <th></th>
                @{

                    @for (int i = 1; i <= dayInMonths; i++)
                    {

                        if (DateTime.TryParse(Model.FirstOrDefault()?.month_Check, out DateTime _dateCheck))
                        {
                            var strMonth = (new DateTime(_dateCheck.Year, _dateCheck.Month, 1)).ToString("yyyy-MM");
                            <th colspan="3">@(strMonth + "-"+ @i)</th>
                        }
                        else
                        {
                            <th colspan="3"></th>
                        }
                    }
                }
            </tr>
            <tr style="background-color: #FBEEE6">
                <th>Code</th>
                <th>Name</th>
                <th>Section</th>
                @{
                    @for (int i = 1; i <= dayInMonths; i++)
                    {
                        <th>IN</th>
                        <th>OUT</th>
                        <th>HẠNG MỤC</th>
                    }
                }
            </tr>
        </thead>
        <tbody id="tbl-content">
            @{
                int k = 0;
            }
            @foreach (var item in Model)
            {

                string style1 = k++ % 2 == 0 ? "background-color: #F2F3F4" : "background-color: #F8F9F9";

                <tr>
                    <td style="@style1">@item.MaNV</td>
                    <td style="@style1">@item.TenNV</td>
                    <td style="@style1">@item.BoPhanDetail</td>

                    @for (int i = 1; i <= dayInMonths; i++)
                    {
                        @if (DateTime.TryParse(Model.FirstOrDefault()?.month_Check, out DateTime _dateCheck))
                        {
                            var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                            var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                            if (i <= lastDayOfMonth.Day)
                            {
                                if (item.TimeInOutModels.Count > 0)
                                {
                                    foreach (var inOut in item.TimeInOutModels)
                                    {
                                        @if (DateTime.TryParse(inOut.DayCheck, out DateTime dayCheck))
                                        {
                                            if (dayCheck.Day == i)
                                            {
                                                <td style="@style1">@inOut.InTime</td>
                                                <td style="@style1">@inOut.OutTime</td>
                                                <td style="@style1">@inOut.HangMuc</td>

                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="@style1"></td>
                                    <td style="@style1"></td>
                                    <td style="@style1"></td>
                                }
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-bordered mb-0 custom-table datatable" id="bangCongDataTable">
        <thead>
            <tr style="background-color:#F6DDCC">
                <th>Code</th>
                <th>Name</th>
                <th>Join Date</th>
                <th>Section</th>
                <th>Status</th>
                @{

                    @for (int i = 1; i <= dayInMonths; i++)
                    {

                        if (DateTime.TryParse(Model.FirstOrDefault()?.month_Check, out DateTime _dateCheck))
                        {
                            var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                            var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                            if (i < 10)
                            {
                                <th>@("0"+i)</th>
                            }
                            else
                            {
                                if (i <= lastDayOfMonth.Day)
                                {
                                    <th>@i</th>
                                }
                            }

                        }
                        else
                        {
                            <th>@i</th>
                        }
                    }
                }
                @*<th class="text-right no-sort">Action</th>*@
            </tr>
            <tr style="background-color: #FBEEE6">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                @{
                    @for (int i = 1; i <= dayInMonths; i++)
                    {
                        if (DateTime.TryParse(Model.FirstOrDefault()?.month_Check, out DateTime _dateCheck))
                        {
                            var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                            var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                            if (i <= lastDayOfMonth.Day)
                            {
                                var dayOfWeek = (new DateTime(_dateCheck.Year, _dateCheck.Month, i)).DayOfWeek.ToString().Substring(0, 3);

                                if (dayOfWeek == "Sun")
                                {
                                    <th class="text-danger">
                                        @dayOfWeek
                                    </th>
                                }
                                else
                                {
                                    <th>
                                        @dayOfWeek
                                    </th>
                                }

                            }
                        }
                        else
                        {
                            <th>
                            </th>
                        }
                    }
                }
                @*<th></th>*@
            </tr>
        </thead>
        <tbody id="tbl-content">
            @{
                int k = 0;
            }
            @foreach (var item in Model)
            {

                string style1 = k++ % 2 == 0 ? "background-color: #F2F3F4" : "background-color: #F8F9F9";

                <tr>
                    <td style="@style1">@item.MaNV</td>
                    <td style="@style1">@item.TenNV</td>
                    <td style="@style1">@item.NgayVao</td>
                    <td style="@style1">@item.BoPhanDetail</td>
                    <td style="@style1">
                        <table class="table table-bordered mb-0 custom-table">
                            <tr>
                                <td>Working Status</td>
                                <td></td>
                            </tr>
                            @for (int i = 0; i < item.lstDanhMucOT.Count; i++)
                            {
                                if (i == 2)
                                {
                                    <tr>
                                        <td>
                                            OT
                                            (hour)
                                        </td>
                                        <td>@item.lstDanhMucOT[i]</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.lstDanhMucOT[i]</td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td>EL/LC (hour)</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                    @for (int i = 1; i <= dayInMonths; i++)
                    {
                        <td>
                            <table class="table table-bordered mb-0 custom-table">
                                @if (DateTime.TryParse(Model.FirstOrDefault()?.month_Check, out DateTime _dateCheck))
                                {
                                    var firstDayOfMonth = new DateTime(_dateCheck.Year, _dateCheck.Month, 1);
                                    var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                                    if (i <= lastDayOfMonth.Day)
                                    {
                                        // set status NH, DS, ...
                                        foreach (var status in item.WorkingStatuses)
                                        {
                                            @if (DateTime.TryParse(status.DayCheck, out DateTime dayCheck))
                                            {
                                                if (dayCheck.Day == i)
                                                {
                                                    var dayOfWeek = dayCheck.DayOfWeek.ToString().Substring(0, 3);

                                                    if (dayOfWeek == "Sun")
                                                    {
                                                        <tr class="table-primary">
                                                            <td>@status.Value</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr class="table-primary">
                                                            <td>@status.Value</td>
                                                        </tr>
                                                    }
                                                    break;
                                                }
                                            }
                                        }

                                        bool isOt = false;
                                        foreach (var ot in item.lstDanhMucOT)
                                        {
                                            isOt = false;
                                            if (item.OvertimeValues.Count > 0)
                                            {
                                                // Set hour OT(hour)
                                                for (int o = 0; o < item.OvertimeValues.Count; o++)
                                                {
                                                    @if (DateTime.TryParse(item.OvertimeValues[o].DayCheckOT, out DateTime dayCheck))
                                                    {
                                                        if (ot.Contains(item.OvertimeValues[o].DMOvertime))
                                                        {
                                                            if (dayCheck.Day == i)
                                                            {
                                                                if (item.OvertimeValues[o].Registered)
                                                                {
                                                                    <tr class="table-warning">
                                                                        <td>@item.OvertimeValues[o].ValueOT</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr class="table-danger">
                                                                        <td>@item.OvertimeValues[o].ValueOT</td>
                                                                    </tr>
                                                                }
                                                                isOt = true;
                                                                break;
                                                            }
                                                        }

                                                    }
                                                }

                                                if (!isOt)
                                                {
                                                    <tr>
                                                        <td>0</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>0</td>
                                                </tr>
                                            }
                                        }

                                        // set EL/LC (hour)
                                        if (item.EL_LC_Statuses.Count > 0)
                                        {
                                            foreach (var el in item.EL_LC_Statuses)
                                            {
                                                @if (DateTime.TryParse(el.DayCheck_EL, out DateTime dayCheck))
                                                {
                                                    if (dayCheck.Day == i)
                                                    {
                                                        if (el.Value_EL > 0)
                                                        {
                                                            <tr class="table-primary text-danger">
                                                                <td>@el.Value_EL</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr class="table-primary">
                                                                <td>@el.Value_EL</td>
                                                            </tr>
                                                        }
                                                        break;
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr class="table-primary">
                                                <td>0</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}