@using Microsoft.AspNetCore.Authorization
@using HRMS.Authorization
@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model EhsDanhMucKeHoachPageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script src="~/js/rowGroup.js"></script>
    @*<script src="~/app/controllers/EhsDanhMucKeHoach/EhsDanhMucKHMns.js"></script>*@
    <script>

        var keHoachIdInit = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.MaKeHoachActive+""))');

        var controller = new EhsDMKeHoachController();
        controller.initialize();

        $(document).ready(function () {

            KeHoachItemClick = function (elm) {

                $('.roles-menu>ul li').removeClass('active');
                $(elm).addClass('active');

                var khId = $(elm).data('val');
                $('#hdKeHoachId').val(khId);
                $('#frmkhChange').submit();
            };

            ulClick = function (kehoachId, kehoachVN, kehoachKR, noidung, e) {
                e.stopImmediatePropagation();
                e.stopPropagation();

                $('#txtKeHoachIdEdit').val(kehoachId);
                $('#txtTenKeHoach_VN_Edit').val(kehoachVN);
                $('#txtTenKeHoach_KR_Edit').val(kehoachKR);
                $('#txtLuatDinhLquan_Edit').val(noidung);
                $('#edit_kehoach').modal('show');

                $.ajax({
                    url: '/admin/EhsDanhMucKeHoach/GetNoiDungLuatKeHoach',
                    type: 'POST',
                    data: {
                        kehoachID: kehoachId,
                    },
                    success: function (response) {
                        $('#txtLuatDinhLquan_Edit').val(response);
                    },
                    error: function (status) {
                        console.log(status.responseText);
                        hrms.notify('error:' + status.responseText, 'error', 'alert', function () {
                        });
                    }
                });
            }

            uDeleteClick = function (kehoachId, kehoachVN, e) {
                e.stopImmediatePropagation();
                e.stopPropagation();

                $('#txtKeHoachId_Delete').val(kehoachId);
                $('#txtTenKeHoach_Delete').val(kehoachVN);
                $('#delete_KeHoach').modal('show');
            }
        });
    </script>
}

@section Styles{
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/css/rowGroup.dataTables.min.css" rel="stylesheet" />

    <style>
        tr.odd td:first-child,
        tr.even td:first-child {
            padding-left: 4em;
        }

        tr.row_selected td {
            background-color: #ffebda !important;
        }
    </style>
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">@(localizer["DMKEHOACH"])</h3>
            </div>
            <div>
                <a href="#" class="btn btn-primary btn-block" style="width:162px" id="btnShowAddKH" data-toggle="modal" data-target="#add_kehoach"><i class="fa fa-plus"></i>Add New</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6 d-flex">
            <div class="roles-menu" style="width:100%; margin-top:0">
                <ul>
                    @foreach (var item in Model.EhsDMKeHoachViewModels)
                    {
                        <li onclick="KeHoachItemClick(this)" data-val="@item.Id" class="@(item.Id == Model.MaKeHoachActive ? "active":"")">
                            <a href="javascript:void(0);">
                                @item.TenKeHoach_VN <br />
                                <i style="font-size:12px">@item.TenKeHoach_KR</i>
                                <span class="role-action">
                                    <span class="action-circle large" data-toggle="modal" onclick="ulClick('@item.Id', '@item.TenKeHoach_VN','@item.TenKeHoach_KR','', event)" data-target="#edit_kehoach">
                                        <i class="material-icons">edit</i>
                                    </span>
                                    @*<span class="action-circle large delete-btn" data-toggle="modal" onclick="uDeleteClick('@item.Id', '@item.TenKeHoach_VN', event)" data-target="#delete_kehoach">
                                            <i class="material-icons">delete</i>
                                        </span>*@
                                </span>
                            </a>
                            <hr style="width: 80%;text-align: center;margin: 0 auto;">
                        </li>
                    }
                </ul>
                <form id="frmkhChange" action="/Admin/EhsDanhMucKeHoach/GetStatistics" method="post">
                    <input type="hidden" id="hdKeHoachId" name="kehoachID" />
                </form>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <h4 class="card-title">Task Statistics</h4>
                    <div class="statistics">
                        <div class="row">
                            <div class="col-md-4 col-4 text-center">
                                <div class="stats-box mb-4">
                                    <p>Total Tasks</p>
                                    <h3>@Model.TaskStatistics.TotalTask</h3>
                                </div>
                            </div>
                            <div class="col-md-4 col-4 text-center">
                                <div class="stats-box mb-4">
                                    <p>NG Tasks</p>
                                    <h3>@Model.TaskStatistics.NGTask</h3>
                                </div>
                            </div>
                            <div class="col-md-4 col-4 text-center">
                                <div class="stats-box mb-4">
                                    <p>Overdue Tasks</p>
                                    <h3>@Model.TaskStatistics.OverdueTask</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @(Model.TaskStatistics.PercenCompleteTask)%" aria-valuenow="@(Model.TaskStatistics.PercenCompleteTask)" aria-valuemin="0" aria-valuemax="100">@Model.TaskStatistics.PercenCompleteTask%</div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width: @(Model.TaskStatistics.PercenInprogressTask)%" aria-valuenow="@(Model.TaskStatistics.PercenInprogressTask)" aria-valuemin="0" aria-valuemax="100">@Model.TaskStatistics.PercenInprogressTask%</div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: @(Model.TaskStatistics.PercenHoldTask)%" aria-valuenow="@(Model.TaskStatistics.PercenHoldTask)" aria-valuemin="0" aria-valuemax="100">@Model.TaskStatistics.PercenHoldTask%</div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @(Model.TaskStatistics.PercenPendingTask)%" aria-valuenow="@(Model.TaskStatistics.PercenPendingTask)" aria-valuemin="0" aria-valuemax="100">@Model.TaskStatistics.PercenPendingTask%</div>
                    </div>
                    <div>
                        <p><i class="fa fa-dot-circle-o text-success mr-2"></i>Completed Tasks <span class="float-right">@Model.TaskStatistics.CompleteTask</span></p>
                        <p><i class="fa fa-dot-circle-o text-warning mr-2"></i>Inprogress Tasks <span class="float-right">@Model.TaskStatistics.InprogressTask</span></p>
                        <p><i class="fa fa-dot-circle-o text-info mr-2"></i>Ready To Start Tasks <span class="float-right">@Model.TaskStatistics.HoldTask</span></p>
                        <p><i class="fa fa-dot-circle-o text-danger mr-2"></i>Pending Tasks <span class="float-right">@Model.TaskStatistics.PendingTask</span></p>
                        <p class="mb-0"><i class="fa fa-dot-circle-o text-purple mr-2"></i>NG Tasks <span class="float-right">@Model.TaskStatistics.NGTask</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        @(Html.DevExtreme().DataGrid()
    .ID("gridContainer")
    .Height(320)
    .ShowBorders(true)
      .RepaintChangesOnly(true)
     .LoadPanel(loadPanel => loadPanel.Enabled(false))
    .Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual))
    .Paging(paging => paging.Enabled(false))
    .AllowColumnResizing(true)
    .ColumnMinWidth(50)
    .ColumnAutoWidth(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .RowAlternationEnabled(true)
    .FilterRow(filterRow => filterRow
    .Visible(true)
    .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .DataSource(@Model.TaskStatistics.Tasks)
    .Columns(c => {
        c.Add().DataField("STT").Width(80);
        c.Add().DataField("NoiDung").Caption(@localizer["NOI_DUNG"].Value).Width(600);
        c.Add().DataField("NgayBatDau").Caption(@localizer["NGAY_BAT_DAU"].Value);
        c.Add().DataField("Status").Caption(@localizer["STATUS"].Value);
        c.Add().DataField("KetQua").Caption(@localizer["KET_QUA"].Value);
        c.Add().DataField("NguoiPhuTrach").Caption(@localizer["NGUOI_PHU_TRACH"].Value);
    }).WordWrapEnabled(true)
)

    </div>
</div>
<!-- Add Role Modal -->
<div id="add_kehoach" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm kế hoạch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddKeHoach">
                    <div class="form-group">
                        <label>Tên kế hoạch(VN) <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="txtTenKeHoach_VN" name="TenKeHoach_VN" required>
                    </div>
                    <div class="form-group">
                        <label>Tên kế hoạch(KR)</label>
                        <input class="form-control" type="text" id="txtTenKeHoach_KR" name="TenKeHoach_KR">
                    </div>
                    <div class="form-group">
                        <label>Luật Định Liên Quan</label>
                        <textarea rows="6" class="form-control" id="txtLuatDinhLquan" maxlength="1000"></textarea>
                    </div>
                    <div class="submit-section">
                        <button id="btnSaveNewKeHoach" class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Role Modal -->
<!-- Edit Role Modal -->
<div id="edit_kehoach" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h5 class="modal-title">Update Kế Hoạch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="txtKeHoachIdEdit" />
                    <div class="form-group">
                        <label>Tên kế hoạch(VN) <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="txtTenKeHoach_VN_Edit" name="TenKeHoach_VN" required>
                    </div>
                    <div class="form-group">
                        <label>Tên kế hoạch(KR)</label>
                        <input class="form-control" type="text" id="txtTenKeHoach_KR_Edit" name="TenKeHoach_KR">
                    </div>
                    <div class="form-group">
                        <label>Luật Định Liên Quan</label>
                        <textarea rows="6" class="form-control" id="txtLuatDinhLquan_Edit" maxlength="1000"></textarea>
                    </div>
                    <div class="submit-section">
                        <button id="btnEditKeHoach" class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Role Modal -->
<!-- Delete Role Modal -->
<div class="modal custom-modal fade" id="delete_KeHoach" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Xóa Kế Hoạch</h3>
                    <div class="form-group">
                        <input type="hidden" id="txtKeHoachId_Delete" />
                        <input class="form-control" type="text" id="txtTenKeHoach_Delete">
                    </div>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="btnDeleteKeHoach">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

